<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">提交結果</h5>
      </div>
      <div class="modal-body" id="modalBody">
        <!-- result msg -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="redirectBtn">關閉</button>
      </div>
    </div>
  </div>
</div>