{{>header}}
{{>messages}}
<div class="container col-md-9 mt-4">
  <div class="row">
    <div class="col-md-3">
      <img src="{{user.image}}" class="profile-img" style="width: 70%;" alt="profile-photo">
      <h3 class="mt-5">{{user.name}}</h3>
      <p>評分</p>
      <h6 style="font-weight: 600;">自我介紹</h6>
      <p>{{user.aboutMe}}</p>
    </div>
    <div class="col-md-9">
      <h6>Course Appointments</h6>
      <h6>待評分課程</h6>
      <h6>學習累積時數排行名次</h6>
      {{#ifCond user.id userId}}
      <a href="/user/{{user.id}}/edit" class="btn mt-4" style="background-color: #708c69; color:white;">編輯個人資料</a>
      {{/ifCond}}
    </div>
  </div>
</div>